html, body {margin: 0; padding: 0;}


#formulaire{
	border: 2px solid #ff0000;
	margin : 0 auto;
	width: 430px;
	height: 290px;
	border-color: hsl(240, 40%, 12%);;
	border-radius: 20px;
	margin-top: 5%;
	background-color: rgba(254, 254, 254,0.7);
	color:hsl(240, 40%, 12%);
	marging-bottom: 50px;

}

#h3{
	text-align: center;
	color:hsl(240, 40%, 12%);
	font-weight: bold;
	font-size: 22px;
	font-family:'Bookman Old Style', serif;
	padding-bottom: 3px;
	border-bottom: 1px dashed;
}
form{
	margin-left: 5%;
}

.input{ /*les espaces pr taper du texte*/

	font-family: "Times New Roman", Times, serif;
	background-color: rgba(254, 254, 254);
	border-color: rgb(36, 68, 92);
	border:1px solid #ccc;
	border-radius: 4px;
	display:inline;
	font-size:13px;
	color:rgb(0, 51, 102);
}

#age{
}

#mail{
	width: 200px;
}


input[type=submit]{ 

	width: 96%;
    background-color: hsl(240, 40%, 12%);;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: rgba(56, 111, 72,0.9);
}

#sinscrire{
	color:hsl(240, 40%, 12%);
	float: right;
	font-size: 15px;
}