html{
    margin-top:0.5%;
    background-color: rgb(76, 166, 107);
}

body{
    background-color: rgb(76, 166, 107);

}

#footer{
    text-align: center;
    bottom: 0; left: 0; right: 0; top :100;
    position:absolute;
    border-top: 2px solid hsl(240, 40%, 12%);
    display: table-row;
}

.foot{
	color: hsl(240, 40%, 12%);
	padding-left: 45px;
	text-shadow: 1px 1px 0px #FFFFFF
	font-family:Tahoma;
 	font-weight: 200;
}

#page{
	font-size: 16px;
}

#contact{
	font-size: 16px;
}