html{
    margin-top:0.5%;
    background-color: rgb(76, 166, 107);
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
        background-color: rgb(76, 166, 107);

}

#footer{
/* text-shadow: 1px 1px 0px #FFFFFF;
    color: #777777;
    text-align: center;
    margin: 1.25em auto 1em auto;
    width:1000px;
     
    /* Code de compétition à supprimer 
    margin-left:-450px;
    position: absolute;
    left:50%;*/

	text-shadow: 1px 1px 0px #FFFFFF;
    text-align: center;
    color: #777777;
    bottom: 0; left: 0; right: 0;
    position:absolute;
    background-color: white;
    border-top: 2px solid #3faad9;
    display: table-row;
}