html{
    margin-top:0.5%;
}

body, #top .nav, .droite{
    margin: 0;
    padding: 0;
}


body{
   /* background: url("../images/impossible.png") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  /*background-size: cover; /* version standardisée */
  
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
 font-family:Tahoma;
 font-weight: 700;
}


/*TOUT LE HEADER*/

#hautDePage{ 
    padding: 0;
    margin: 0;
}


/**************************TOP : titre etc ******************************/
#top {
    margin: 0;
    padding: 0;
    height: 50px;
    color:black;
    display: inline;

}

#bleu{
        background-color:  hsl(240, 40%, 12%);
        height: 27px;
        margin-bottom: 1%;
        padding-bottom: 0.3%;
        margin-top: 0.4%;
}
#droite {
    padding-top: 0.2%;
    float: right;
    width: 465px;
    display: inline;
    color : white;
    padding-left: 1%;
    font-weight: 300;
    font-size: 11px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#recherche{
    padding-left: 5%;
    display: inline;
    top:0;
    color : white;
    font-weight: 300;
    font-size: 13px;
}
.champ{
    border-radius: 4px;
    border:1px solid;
    border-color:  hsla(240, 40%, 12%,0.7);
    background-color: rgba(254,254,254,0.8);
    color:hsla(240, 40%, 12%,0.9);
}


#connexion{
    color : white;
    font-weight: 300;
    font-size: 13px;
}

.icones{
    height:13px; with:13px
}

/********************BAS : MENU *******************************/

/*menu */
#logo{
    height:55px; 
}

nav{
    position:relative;
    background-color: hsl(240, 40%, 12%);
}
.nav ul {
    list-style-type: none;
    overflow: hidden;
    aborder-radius: 5px 10px 0 5px;
   
/*M*/
    font-size: 0.1em;
    font-weight: 300;
}

.ico{
    width: 20px;
}
.icoAnnales{
    width: 22px;
}
.icoAcCon{
    width:18px;
}

/*liens du menu*/
.nav .aPrincipal {
    display: block;
    color: rgba(249, 249, 249, 0.9);
    text-decoration: none;
    transition: color .5s, background .5s, height .5s;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size:15px;

}

.menu{
    float: left;
    margin-left:1.1%;
    
}

nav ul .menu:hover ul, nav .menu:active ul, nav .menu:focus ul{
    margin-top:10px;
    padding:5px;
    position:absolute;
    display:block;
    background-color:rgb(220,220,220);
    color:white;
    }


/*M*/
.nav .menu span {
    display: block;
}

.nav i{
    /* Make the font smoother for Chrome */
    transform: translate3d(0, 0, 0);
}


a, button {   /* Remove the blue Webkit background when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**fin**/

li a { /*login*/
    display: inline-block;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    z-index:20;
}


li a:hover, .dropdown:hover .dropbtn{
  /*  background-color: red;*/
  #hautDePage.height: 190px;

}



/*Sous menu */

li.dropdown {
    display: inline-block;
}

.dropdown-content { /* style du background du sous menu */
    margin-left: 1%;
    display: none;
    position: absolute;
    min-width: 150px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
}

.dropdown-content a {  /* style de l'écriture du sous menu */
    color:hsl(240, 40%, 12%);
    padding-top: 12px;
    padding-left: 0px;
    margin-left: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    color:rgba(249, 249, 249, 0.9);
}

.dropdown-content a:hover {  
    font-weight: bold;
} /* hover sous menu */

.dropdown:hover .dropdown-content {
    display: block;
}


div a { /*footer -> à redigner et mettre dans une balise footer*/
    text-decoration: none;
    font-size: 20px;
    
    display:inline-block;
    color:pink;
}

/*?*/
ul li ul li a {display:block !important;}
ul{z-index:1;}




