html, body {margin: 0; padding: 0;}


#formulaire{
	border: 2px solid #ff0000;
	margin : 0 auto;
	width: 600px;
	border-color: hsl(240, 40%, 12%);
	border-radius: 20px;
	margin-top: 3%;
	background-color: rgba(254, 254, 254,0.7);
	color: hsl(240, 40%, 12%);
	overflow: hidden;
	marging-bottom: 50px;

}

#h3{
	text-align: center;
	color:hsl(240, 40%, 12%);
	font-size: 20px;
	padding-bottom: 3px;
	border-bottom: 1px dashed;
}
form{
	margin-left: 5%;
}

.input{ /*les espaces pr taper du texte*/

	font-family: "Times New Roman", Times, serif;
	background-color: rgba(254, 254, 254);
	border-color: rgb(36, 68, 92);
	border:1px solid #ccc;
	border-radius: 4px;
	display:inline;
	font-size:13px;
	color :rgb(0,0,0);
}

#age{
}

#mail{
	width: 200px;
}


input[type=submit]{ 

	width: 96%;
    background-color: hsl(240, 40%, 12%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(3, 34, 76,0.9);
}